{% if menuItems is defined and menuItems is not empty %}
    {% for item in menuItems %}
        {% if (item.valueObject.content) %}
            {% set icon = ez_field_value(item.valueObject.content, 'icon') %}
        {% else %}
            {% set icon = "bi bi-back" %}
        {% endif %}
        <li><a href="{{ ez_path(item.valueObject) }}">
               {# <svg class="ez-icon" width="17" height="17" fill="currentColor">
                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#{{ icon.text }}"></use>
                </svg>#}
                <i class="{{ icon.text }}" style="font-size: 2rem; "></i>
                {{ ez_content_name(item.valueObject.contentInfo) }}
            </a>
        </li>
    {% endfor %}
{% endif %}